@font-face {
  font-family: "Muller Bold";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Muller Bold"), url("../src/fonts/MullerBold.woff2") format("woff2"), url("../src/fonts/MullerBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  font-family: "Muller Medium";
  src: local("Muller Medium"), url("../src/fonts/MullerMedium.woff2") format("woff2"), url("../src/fonts/MullerMedium.woff") format("woff");
}

@font-face {
  font-family: "Muller Regular";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Muller Regular"), url("../src/fonts/MullerRegular.woff2") format("woff2"), url("../src/fonts/MullerRegular.woff") format("woff");
}

@font-face {
  font-family: "Muller Light";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Muller Light"), url("../src/fonts/MullerLight.woff2") format("woff2"), url("../src/fonts/MullerLight.woff") format("woff");
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  color: #333333;
  background-color: #f1f1f1;
  font-family: "Muller Regular", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  padding: 0;
  list-style: none;
}

span {
  color: #cc9933;
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn--reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn--reset:hover {
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  -webkit-box-shadow: 0 0 2px 2px #ffffff inset, 2px 2px 2px 2px #ac0a0a;
          box-shadow: 0 0 2px 2px #ffffff inset, 2px 2px 2px 2px #ac0a0a;
}

.btn-anime:hover {
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  -webkit-box-shadow: 0 0 2px 2px #ffffff inset, 2px 2px 2px 2px #ac0a0a;
          box-shadow: 0 0 2px 2px #ffffff inset, 2px 2px 2px 2px #ac0a0a;
}

.title-of-contents {
  font-size: 2.5rem;
  line-height: 1;
  margin-left: 42px;
  margin-bottom: 24px;
  color: #333333;
  font-weight: 400;
}

.global-input {
  padding-left: 20px;
  padding-top: 26px;
  padding-bottom: 26px;
  color: #333333;
  border-radius: 12px;
  background-color: #ffffff;
  outline: none;
  border: none;
}

.arrow {
  padding-left: 10px;
}

.grey {
  color: #797979;
}

.bold {
  font-size: 22px;
  font-family: "Muller Bold", sans-serif;
}

input[type=text]::-ms-clear {
  display: none;
  display-width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-moz-placeholder {
  color: #f1f1f1;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
  padding-top: 30px;
}

.header-top__tel {
  margin-left: 26px;
  font-size: 1.375rem;
  line-height: 1;
  color: #797979;
  font-family: "Muller Bold", sans-serif;
}

.header-top__button {
  margin-left: auto;
  margin-right: 10px;
  -webkit-transition: all .2s  ease-out;
  transition: all .2s  ease-out;
}

.header-top__button:hover {
  padding: 10px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #cc9933;
  -webkit-transition: all .2s  ease-in-out;
  transition: all .2s  ease-in-out;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 28pxv;
  border-radius: 12px;
}

.nav__button {
  position: relative;
  width: 40px;
  height: 40px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list--item a {
  position: relative;
  padding: 2px;
}

.nav__list--item a:after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.nav__list--item a:hover:after {
  width: 100%;
}

.nav__list--item:first-child {
  margin-left: 20px;
}

.nav__list--item:not(:first-child) {
  margin-left: 45px;
}

.nav__search {
  position: relative;
}

.nav__search input[type=search] {
  width: 356px;
  height: 48px;
  padding: 0 15px;
  font-size: 0.875rem;
  line-height: 1;
  margin-right: 21px;
  background-color: #f1f1f1;
  border-radius: 15px;
  outline: none;
  border: none;
}

input[type=image] {
  position: absolute;
  top: 12px;
  left: 315px;
  right: 0;
  bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 22px;
  outline: none;
}

.container {
  /** outline: 1px solid red **/
}

.headers {
  margin-bottom: 68px;
}

.reservation {
  width: 47%;
}

.reservation__table input {
  width: 100%;
  height: 69px;
  margin-bottom: 24px;
}

.reservation__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservation__buttons--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 70px;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  background-color: #cc9933;
  border-radius: 12px;
  outline: none;
  border: none;
  font-family: "Muller Regular", sans-serif;
}

.reservation__buttons--proposals {
  margin-left: 30px;
}

.reservation__buttons--proposals span {
  color: #cc9933;
}

.special-offer {
  border-radius: 12px;
}

.special-offer__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-image: url(../src/img/slider/header-slider-1.png);
  background-repeat: no-repeat;
  border-radius: 12px;
  border: none;
  outline: none;
}

.special-offer__card--description {
  padding-left: 30px;
  margin-top: 236px;
}

.special-offer__card--description h4 {
  font-size: 64px;
  line-height: 1;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 20px;
  color: #ffffff;
  font-family: "Muller Bold", sans-serif;
}

.special-offer__card--description p {
  font-size: 32px;
  color: #87766c;
}

.special-offer__card--description a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #cc9933;
}

.special-offer__card--description img {
  padding-left: 8px;
}

.div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-us {
  margin-bottom: 76px;
}

.about-us__title {
  width: 100%;
}

.about-us__text {
  width: 90%;
  margin-left: 42px;
  color: #797979;
  line-height: 2.5;
}

.services {
  margin-bottom: 28px;
}

.services__title {
  width: 100%;
}

.services__card:hover {
  cursor: pointer;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.services__card {
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.services__card--image {
  margin-bottom: 38px;
}

.services__card--description {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  margin-bottom: 40px;
}

.services__card--description a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  line-height: 1;
  color: #cc9933;
}

.services__card--description p {
  width: 80%;
  line-height: 2;
  padding-bottom: 40px;
}

.arrow {
  max-width: 18px;
  height: 22px;
}

.advantages__title {
  width: 100%;
}

.advantages__card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.advantages__card {
  min-height: 300px;
  margin-bottom: 26px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.advantages__item {
  display: block;
  margin-left: 30px;
}

.advantages__item--image {
  width: 62px;
  height: 54px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.advantages__item--description {
  width: 90%;
  line-height: 2;
  margin-bottom: 40px;
}

.card-end:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.accommodation {
  margin-bottom: 28px;
}

.accommodation__title {
  width: 100%;
}

.accommodation__card:not(:nth-child(1n-1)) {
  margin-right: 20px;
}

.accommodation__card {
  position: relative;
  height: 440px;
  margin-bottom: 30px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 12px;
}

.accommodation__card--image {
  width: 100%;
}

.accommodation__card--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 44px;
  padding-top: 34px;
}

.accommodation__card--price p {
  margin: 0;
}

.accommodation__card--location {
  margin-left: 44px;
  margin-bottom: 22px;
}

.accommodation__card--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94px;
  height: 40px;
  margin-left: 44px;
  margin-bottom: 30px;
  padding: 10px;
  color: #cc9933;
  border: 1px solid #cc9933;
  border-radius: 12px;
  font-family: "Muller Bold", sans-serif;
}

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14px;
  height: 14px;
}

.star img {
  margin-left: 10px;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  font-size: 22px;
  color: #ffffff;
}

.all::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 100%;
}

.card-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(../src/img/img-accommodation/accommodation-9.png);
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 12px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.card-end:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.communications__title {
  width: 100%;
}

.contacts {
  width: 472px;
  margin-bottom: 22px;
  padding-bottom: 44px;
  border-radius: 12px;
  background-color: #ffffff;
}

.contacts__info:first-child {
  padding-top: 46px;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 384px;
  margin-left: 44px;
  margin-right: 44px;
  padding-top: 22px;
  padding-bottom: 28px;
  line-height: 24px;
  border-bottom: 1px solid #cccccc;
}

.contacts__info--title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #797979;
  font-size: 22px;
  margin: 0;
  font-family: "Muller Bold", sans-serif;
}

.contacts__info--adds {
  margin: 0;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.contacts__btn {
  display: block;
  width: 214px;
  margin-top: 44px;
  margin-left: 44px;
  padding: 26px;
  color: #cc9933;
  border: 1px solid #cc9933;
  border-radius: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Muller Bold", sans-serif;
}

input {
  width: 100%;
  height: 110px;
}

.write-us input {
  width: 100%;
  height: 70px;
  padding: 15px;
  margin-bottom: 22px;
}

.write-us {
  width: 342px;
  margin-top: 76px;
  margin-right: 158px;
  margin-left: 100px;
}

.write-us__title {
  margin-bottom: 44px;
}

.write-us__form--item {
  border-radius: 12px;
  border: none;
  outline: none;
}

.write-us__form--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 28px 126px;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  background-color: #cc9933;
  border-radius: 12px;
  outline: none;
  border: none;
  font-family: "Muller Bold", sans-serif;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  line-height: 34px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 12px;
}

.footer__block-1 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-left: 50px;
  margin-bottom: 50px;
}

.footer__block-1--compani {
  margin-top: 48px;
}

.footer__block-1--offer {
  width: 70%;
  margin-top: 46px;
}

.footer__block-1--privacy-policy {
  margin-top: 50px;
}

.footer__block-2 {
  position: relative;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.footer__block-2--sun {
  position: absolute;
  top: 169px;
  left: 258px;
  right: 0;
  bottom: 0;
  width: 258px;
  height: 228px;
}

.footer__block-2--adds {
  margin-top: 48px;
}

.footer__block-2--tell {
  margin-top: 44px;
}

.footer__block-2--mail {
  margin-top: 33px;
}

.footer__block-3 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 50px;
}

.footer__block-3--social {
  margin-top: 52px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-link--icon {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
}

.social-link:not(:first-child) {
  margin-top: 20px;
}

.social-link:hover {
  -webkit-filter: drop-shadow(0 0 10px #fcfcfc);
          filter: drop-shadow(0 0 10px #fcfcfc);
}
